/*
 * typeahead
 */
.tt-menu {
    margin: 12px 0;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    z-index: 10000 !important;
}

.tt-selectable a {
  display: block;
  padding: 8px 5px;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  line-height: 1.2;
  color: #333;
}

.tt-selectable a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

.tt-selectable:last-child a {
  border-bottom: 0px;
}
